@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');

.content {
  font-size 60px
}
.theme-container {
    background-image url("/absurdidad.png")
    }
h1, h2, h3, h4, h5, h6
  font-family: 'Bebas Neue', cursive;
p 
  line-height: 2.3rem;
  padding-bottom: 1rem;