.content {
  font-size 60px
}
.theme-container {
    background-image url("/absurdidad.png")
    }

  
p {
    line-height: 2.3rem;
  padding-bottom: 1rem;
}
.sidebar-link {
    background-color: 
    #f2f2f2;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.sidebar-link:hover {
  background-color: #c1bfd2;
}
